<div class="content">
  <div class="comic-title"><%= link_to comic.title, comic_path(comic.id) %></div>
  <div class="comic-info">
    <% if current_user.id != comic.user.id %>
      <div class="comic-user">投稿者：<%= link_to comic.user.nickname, user_path(comic.user.id) %></div>
    <% end %>
    <div class="comic-volume"><%= comic.volume %>巻</div>
    <div class="comic-completion">
    <% if comic.completion %>
      完結
    <% else %>
      未完  
    <% end %>
    </div>
    <div class="comic-author">作者：<%= comic.author %></div>
    <% if current_user.id != comic.user.id %>
      <div>
        <% if current_user.already_favorite(comic) %>
          <%= link_to comic_favorites_path(comic.id), method: :delete do %>
            <i class="fa-solid fa-star"></i>
          <% end %>
        <% else %>
          <%= link_to comic_favorites_path(comic.id), method: :POST do %>
            <i class="fa-regular fa-star"></i>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>