<%= render "share/sub_header" %>

<div class="registrations-form">
  <div class="fields">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">ニックネーム</div>
      <%= f.text_field :nickname, autofocus: true, class: "input-form" %>

      <div class="field">E-mail</div>
      <%= f.email_field :email, autocomplete: "email", class: "input-form" %>

      <div class="field">パスワード（6文字以上）</div>
      <%= f.password_field :password, autocomplete: "new-password", class: "input-form" %>

      <div class="field">
        <div class="field">パスワードの再入力</div>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input-form" %>
      </div>

      <%= f.submit "Sign up", class: "action" %>
    <% end %>
  </div>
</div>