<%= render "share/sub_header" %>
<div class="new-comic">
  <div class="comic-input">
    <%= form_with model: @comic, local: true do |f| %>
      <div class="tag">タイトル</div>
      <%= f.text_field :title, placeholder: "タイトル", class: "input-form" %>

      <div class="tag">作者</div>
      <%= f.text_field :author, placeholder: "作者", class: "input-form" %>

      <div class="tag">最新巻</div>
      <%= f.text_field :volume, placeholder: "巻数", class: "input-form" %>

      <div class="tag">対象年齢</div>
      <%= f.collection_select(:target_age_id, TargetAge.all, :id, :name, {}, {class: "input-form"}) %>

      <div class="tag">ジャンル</div>
      <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class: "input-form"}) %>

      <div class="tag">完結</div>
      <div class="completion-form">
        <%= f.check_box :completion %>
        <%= f.label :completion, "完結している" %>
      </div>

      <div class="tag">メモ</div>
      <%= f.text_area :memo, placeholder:"(空白で構いません)", class: "input-form" %>

      <div><%= f.submit "投稿する", class: "comic-btn" %></div>
    <% end %>
  </div>
</div>