<%= render "share/sub_header" %>

<div class="sessions-form">
  <div class="fields">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">E-mail</div>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input-form" %>

      <div class="field">パスワード</div>
      <%= f.password_field :password, autocomplete: "current-password", class: "input-form" %>

      <%= f.submit "ログイン", class: "action" %>
    <% end %>
  </div>

  <div class="go-registrations">
    <div>アカウントをお持ちでない方は新規ユーザー登録を下のボタンからお願いします</div>
    <div class="registrations-btn"><%= link_to "新規ユーザー登録", new_user_registration_path %></div>
  </div>
</div>
